<%- include('header') -%>

<div class="container my-5" >
    <section class="about-us">
        <div class="text-center mb-5">
            <h2 class="font-weight-bold display-4 ">About <span style="color: #1FAD9F">Us</span></h2>
        </div>
        <div class="col-12 col-md-8 mx-auto">
        	<p>YouMakeWePost.com hopes to make the process of choosing, creating and sharing post cards easy! Whether it's your friends' birthday or a new promotion, we have got a card for you.</p>

          <p>We have a custom setup to print your personalized cards and post them for you with love and care. Currently, our price margins are not set up with an incentive to make profits, but to make it as cheap as possible for the users. So, happy posting!</p>

          <p>If you have any questions or concerns, you can send them here: <a href="mailto:youmakewepost@gmail.com">youmakewepost.com</a>.</p>
        </div>
    </section>
</div>

<script>
$(document).ready(function() {
  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 4) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});
</script>
<%- include('footer') -%>