<%- include('header') -%>

<div class="container my-5" >
    <section class="about-us">
        <div class="text-center mb-5">
            <h2 class="font-weight-bold display-4 ">About <span style="color: #1FAD9F">Us</span></h2>
        </div>
        <div class="col-12 col-md-6 mx-auto">
        	YouMakeWePost.com is a fun project idea still in its very early days of inception. This is meant to make the processing of choosing / creating and sharing the post-cards a little bit easier. We have a small setup to print your personalized cards and post them for you with love and care. Currently, the price margins are not set up with a goal to make profits, but to make it as cheap as possible for the users. Happy posting!
        </div>
    </section>
</div>

<script>
$(document).ready(function() {
  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 3) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});
</script>
<%- include('footer') -%>