<%- include('header') -%>

<form class="contact-form">
  <h2 class="contact-header font-weight-bold display-4">Contact <span style="color: #1FAD9F">Us</span></h2>
  <p class="contact-p" type="Name:"><input class="contact-input" placeholder="Write your name here.."></input></p>
  <p class="contact-p" type="Email:"><input class="contact-input" placeholder="Let us know how to contact you back.."></input></p>
  <p class="contact-p" type="Message:"><input class="contact-input" placeholder="What would you like to tell us.."></input></p>
  <button class="contact-button">Send Message</button>
  <div class="contact-div">
    <span class="contact-span fa fa-phone"></span>001 1023 567
    <span class="contact-span fa fa-envelope-o"></span> contact@company.com
  </div>
</form>

<button onclick="loadOverlay()">Popup</button>

<div id="popup" class="overlay">
  <div class="popup">
    <h2>Here i am</h2>
    <a class="close" onclick="closeOverlay()">&times;</a>
    <div class="content">
      <div class="loader">Loading</div>
      Thank to pop me out of that button, but now i'm done so you can close this window.
    </div>
  </div>
</div>


<script>

function loadOverlay() {
  $(".overlay").css('visibility', 'visible');
  $(".overlay").css('opacity', 1.0);
}

function closeOverlay() {
  $(".overlay").css('visibility', 'hidden');
  $(".overlay").css('opacity', 0);
}

$(document).ready(function() {
  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 4) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});
</script>

<%- include('footer') -%>