</main>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.waypoints.min.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/utility.js"></script>
<script src="/javascripts/canvas.js"></script>

<link href='https://fonts.googleapis.com/css?family=Ubuntu|Chewy|Quattrocento+Sans|Kaushan+Script|Comfortaa|Lobster+Two|Raleway|Montserrat|Titillium+Web|Josefin+Sans|Pacifico|Orbitron|Josefin+Slab|Satisfy|Economica|Courgette|Inter|Work+Sans|Space+Mono|Space+Grotesk|Rubik|Libre+Franklin|Cormorant|Fira+Sans|Chivo|Eczar|Princess+Sofia|Mountains+of+Christmas|Butterfly+Kids|Bubblegum+Sans|Emilys+Candy|Give+You+Glory|Mystery+Quest|Covered+By+Your+Grace|Chela+One+Regular|Bonbon' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</body>
</html>

