</main>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/jquery.waypoints.min.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/utility.js"></script>
<script src="/javascripts/canvas.js"></script>

</body>
</html>

