<%- include('header') -%>

<div class="container my-5">
    <section>
        <div class="text-center mb-5">
            <span>FOUR EASY STEPS</span>
            <h2 class="font-weight-bold display-4 ">How It <span style="color: #1FAD9F">Works?</span></h2>
        </div>
        <div class="col-12 col-md-6 mx-auto">
            <div class="">
                <div class="bg-light position-relative px-3 my-5">
                    <div class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                         style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #1FAD9F">
                        1
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h4>Choose or Design Card</h4>
                        <p class="font-weight-light my-3">Choose from our <a href="/" style="color:#1FAD9F;">collection of card designs</a> or, design your <a href="/preparation" style="color:#1FAD9F;">custom card from scratch</a>. You can either make a two-fold card or choose a single-fold design. The main different between the two is that the two-fold design has the front card design and a custom message inside. The single-folder design just has the front card design.</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="bg-light position-relative px-3 my-5">
                    <div class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                         style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #1FAD9F">
                        2
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h4>Compose Message</h4>
                        <p class="font-weight-light my-3">Write the message that goes inside the card. This will be print inside the two-fold card. You can select the font-style and the size of the message that goes in the card.</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="bg-light position-relative px-3 my-5">
                    <div class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                         style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #1FAD9F">
                        3
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h4>Sender and Receiver Details</h4>
                        <p class="font-weight-light my-3">Add in details for posting: where you are sending it from and where you want to send it. <b>Currently, we only mail within the states in the United States.</b> 

                        Make sure the address you are sending to is correct. You can use this <a href="https://tools.usps.com/go/ZipLookupAction_input" style="color:#1FAD9F;"> USPS Address Tool</a> to verify the addresses you plan to use.</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="bg-light position-relative px-3 my-5">
                    <div class="font-weight-bold circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto position-relative border border-white"
                         style="width: 60px;height: 60px;top: -30px;border-width: 4px !important; background-color: #1FAD9F">
                        4
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h4>Payment</h4>
                        <p class="font-weight-light my-3">Final step is the payment. As soon as the payment is made, we work on printing and posting the card for you. It usually takes less than 2 days to drop your card in the mail. See <a href='https://www.usps.com/ship/letters.htm' style="color:#1FAD9F;"> USPS Sending Mail</a> instruction to see how card mailing works.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

$(document).ready(function() {
  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 3) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});
</script>
<%- include('footer') -%>