<%- include('header') -%>

<%if (false) {%>
<div class="card-columns">
  <% for(var i=0; i < Math.min(7, templates.length); i++) { %>
    <div class="card">
      <a href="/preparation?design=<%= templates[i].id %>">
        <img class="card-img-top probootstrap-animate" src="<%= templates[i].image_path %>" alt="templates[i].image_title" data-animate-effect="fadeIn">
      </a>
    </div>
  <% } %>
</div>
<%}%>

<div class="card-columns">
    <div class="card img-loaded">
      <a href="/preparation?design=1">
        <img class="card-img-top probootstrap-animated" src="/images/cards/templates/img_1.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=4">
        <img class="card-img-top probootstrap-animated" src="images/cards/templates/img_2.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=2">
        <img class="card-img-top probootstrap-animated" src="images/cards/templates/img_3.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=3">
        <img class="card-img-top probootstrap-animated" src="/images/cards/templates/img_4.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=5">
        <img class="card-img-top probootstrap-animated" src="/images/cards/templates/img_5.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=7">
        <img class="card-img-top probootstrap-animated" src="/images/cards/templates/img_6.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
    <div class="card img-loaded">
      <a href="/preparation?design=6">
        <img class="card-img-top probootstrap-animated" src="/images/cards/templates/img_7.jpg" alt="" data-animate-effect="fadeIn">
      </a>
    </div>
</div>


<script>
function init() {}
</script>

<!-- Default Statcounter code for YouMakeWePost http://www.youmakewepost.com/
-->
<script type="text/javascript">
var sc_project=12491497; 
var sc_invisible=1; 
var sc_security="f46bce7d"; 
var sc_https=1; 
</script>

<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12491497/0/f46bce7d/1/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->



<%- include('footer') -%>