<%- include('header') -%>

<!-- !GET STARTED! -->
<div class="w3-main w3-content w3-padding">  
  <div class="card step-progress">
    <div class="step-slider">
      <div data-id="step1" class="step-slider-item"></div>
      <div data-id="step2" class="step-slider-item"></div>
      <div data-id="step3" class="step-slider-item"></div>
    </div>

    <!-- FORM AREA -->
    <form id="main-form" method="post" action="/preparation/savedb">
    </form>

    <!-- STEP CONTENT -->
    <div class="step-content">
      <!-- STEP ONE -->
      <div id="step1" class="step-content-body">
        <div class="header">Step 1: Design the front of the card</div><hr/>

        <!-- STEP ONE CONTENT (1/2) -->
        <div class="w3-half">
          <canvas id='front_page' width='350px' height='378px'>
            Canvas not supported in this browser.
          </canvas>
          <div class="control-panel">
            <div class="w3-quarter">
              <div class="w3-half">
                <i class="fa fa-rotate-right" style="font-size:24px" 
                  onclick="canvas_front.rotateImage(true);"></i>
              </div>
              <div class="w3-half">
                <i class="fa fa-rotate-left" style="font-size:24px" 
                  onclick="canvas_front.rotateImage(false);"></i>
              </div>
              <br/>
              Rotate
            </div>

            <div class="w3-quarter">
              <div class="w3-half">
                <i class="fa fa-plus" style="font-size:24px" 
                  onclick="canvas_front.scaleImage(true);"></i>
              </div>
              <div class="w3-half">
                <i class="fa fa-minus" style="font-size:24px" 
                  onclick="canvas_front.scaleImage(false);"></i>
              </div>
              Scale
            </div>

            <div class="w3-quarter">
              <center>
                <table>
                  <tr>
                    <td class='color-box' style="background: #ffffff;">
                    </td>
                    <td class='color-box' style="background: #e7a9b8;">
                    </td>
                    <td class='color-box' style="background: #806eac;">
                    </td>
                    <td class='color-box' style="background: #0499cd;">
                    </td>
                  </tr>
                  <tr>
                    <td class='color-box' style="background: #4cc298;">
                    </td>
                    <td class='color-box' style="background: #ea8556;">
                    </td>
                    <td class='color-box' style="background: #dcd976;">
                    </td>
                    <td class='color-box' style="background: #a73c44;">
                    </td>
                  </tr>
                </table>
              <div style="margin-top:8px">Background</div>
            </div>

            <div class="w3-quarter">
              <i class="fa fa-trash w3-large" onclick="canvas_front.deleteSelectedData(); updateControls();"></i><br/>
              Delete
            </div>
          </div>
          </center>
        </div>
        <!-- STEP ONE CONTENT ENDS (1/2) -->



        <!-- STEP ONE CONTENT (2/2) -->
        <div class="w3-half">
          <!-- ASSETS BOX -->
          <div class="scroll-main">

            <div class="tabset">
              <!-- Tab 1 -->
              <input type="radio" name="tabset" id="tab1" aria-controls="add-text" checked>
              <label for="tab1" class="sub-sub-header">Add Text</label>
              <!-- Tab 2 -->
              <input type="radio" name="tabset" id="tab2" aria-controls="upload-image">
              <label for="tab2" class="sub-sub-header">Upload Image</label>
              <!-- Tab 3 -->
              <input type="radio" name="tabset" id="tab3" aria-controls="image-art">
              <label for="tab3" class="sub-sub-header">Add Image Art</label>
              
              <div class="tab-panels">
                <section id="add-text" class="tab-panel">
                  <!-- CUSTOM TEXT BOX -->
                  <div class="fontholder_div pattern0">
                    <div class="fontControls">
                      <fieldset>
                        <label for="frontCardFontSize"><i class="material-icons">format_size</i></label>
                        <input form='main-form' id='frontCardFontSize' name="frontCardFontSize" style="width:2.6em; height: 1.3em" type="number" value='14'/>
                        <select form='main-form' id='frontCardFont' name="frontCardFont">
                          <option value="Arial" selected>Arial</option> 
                          <option value="Eczar">Eczar</option>
                          <option value="Princess Sofia">Princess Sofia</option>
                          <option value="Mountains of Christmas">Mountains of Christmas</option>
                          <option value="Butterfly Kids">Butterfly Kids</option>
                          <option value="Bubblegum Sans">Bubblegum Sans</option>
                          <option value="Emilys Candy">Emilys Candy</option>
                          <option value="Give You Glory">Give You Glory</option>
                          <option value="Mystery Quest">Mystery Quest</option>
                          <option value="Covered By Your Grace">Covered By Your Grace</option>
                          <option value="Chela One Regular">Chela One Regular</option>
                          <option value="Bonbon">Bonbon</option>
                          <option value="Raleway">Raleway</option>
                          <option value="Montserrat">Montserrat</option>
                          <option value="Raleway">Raleway</option>
                          <option value="Titillium Web">Titillium Web</option>
                          <option value="Pacifico">Pacifico</option>
                          <option value="Josefin">Josefin</option>
                          <option value="Orbitron">Orbitron</option>
                          <option value="Comfortaa">Comfortaa</option>
                          <option value="Courgette">Courgette</option>
                          <option value="Ubuntu">Ubuntu</option>
                          <option value="Chewy">Chewy</option>
                          <option value="Lobster Two">Lobster Two</option>
                          <option value="Kaushan Script">Kaushan Script</option>
                          <option value="Economica">Economica</option>
                          <option value="Satisfy">Satisfy</option>
                          <option value="Inter">Inter</option>
                          <option value="Work Sans">Work Sans</option>
                          <option value="Space Mono">Space Mono</option>
                          <option value="Space Grotesk">Space Grotesk</option>
                          <option value="Rubik">Rubik</option>
                          <option value="Libre Franklin">Libre Franklin</option>
                          <option value="Cormorant">Cormorant</option>
                          <option value="Fira Sans">Fira Sans</option>
                          <option value="Chivo">Chivo</option>

                        </select>
                        <span class="color-picker">
                          <label for="colorPicker"><i class="material-icons">format_color_text</i></label>
                          <input type="color" id="colorPicker">
                        </span>
                        <span class="font-styles">
                          <i id="frontCard-bold-btn" class="material-icons">format_bold</i>
                          <i id="frontCard-italic-btn" class="material-icons">format_italic</i>
                        </span>
                      </fieldset>
                    </div>
                    <div class="frontCardMessageArea">
                      <textarea form='main-form' id="frontCardMessage" name='frontCardMessage' placeholder="Message" rows="2" style="width: 90%" ></textarea>
                    </div>

                    <button type="button" onclick="addText()">Add Text to Card</button>
                  </div>
                  <!-- CUSTOM TEXT BOX END -->
                </section>
                <section id="upload-image" class="tab-panel">
                  <!-- Upload  -->
                  <form id="file-upload-form" action="/api/image" class="uploader">
                    <input for="file-upload-form" id="file-upload" type="file" name="fileUpload" accept="image/*" />

                    <label for="file-upload" id="file-drag">
                      <img id="file-image" width="100px" src="#" alt="Preview" class="hidden">
                      <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Select a file or drag here</div>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                      </div>
                      <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                          <span>0</span>%
                        </progress>

                        <div class="button-group">
                          <button id="add-image-to-card" type="button" onclick="uploadImage()">Add image to card</button>
                          <button id="clear-upload" type="button" onclick="clearUpload()"> Restart </button>
                        </div>
                      </div>
                    </label>
                  </form>
                </section>
                <section id="image-art" class="tab-panel">
                  <div class="sub-sub-header"> Click images to add them to the card. </div>
                  <div class="scrollable_div">
                    <input form="fakeForm" id="search-box" placeholder="Search images with keyword (e.g., new year)"></input>

                    <div id="assets_holder" style="padding-right: 20px;">
                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/ballon.png" alt="Ballon">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/red-ribbon.png" alt="Red Ribbon">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/ballon.png" alt="Ballon">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/star.png" alt="Star">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/banner-golden.png" alt="Banner Golden">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/champange.png" alt="Cahmpange">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/mistletoe-decoration.png" alt="Mistleteo Decoration">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/mistletoe-branch.png" alt="Mistleteo Branch">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/mistletoe-close-up.png" alt="Mistleteo Closeup">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-gold.png" alt="New Year Golden">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-ballons-sticker.png" alt="New Year Ballons Sticker">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-banner.png" alt="New Year banner">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-curvey.png" alt="New Year Curvey">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-decor.png" alt="New Year Decor">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-dog.png" alt="New Year Dog">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-gold.png" alt="New Year Gold">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-lights.png" alt="New Year Lights">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-pink.png" alt="New Year Pink">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-with-ballons.png" alt="New Year With Ballons">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/new-year-with-fireworks.png" alt="New Year Fireworks">
                      </div>

                      <div class="w3-quarter" style="width:100px">
                        <img src="/images/assets/two-champange.png" alt="Two champange glasses">
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <!-- ASSETS BOX END -->
        </div>
        <!-- STEP ONE CONTENT (2/2) -->
      </div>
      <!-- STEP ONE ENDS -->

      <!-- STEP TWO -->
      <div id="step2" class="step-content-body out">
        <div class="header">Step 2: Compose message</div><hr/>

        <!-- STEP TWO CONTENT (1/2) -->
        <div class="w3-half">
          <canvas id='back_page' width='350px' height='378px' style='border: 1px solid;'>
            Canvas not supported in this browser.
          </canvas>
        </div>
        <!-- STEP TWO CONTENT (1/2) ENDS -->

        <!-- STEP TWO CONTENT (2/2) -->
        <div class="w3-half pattern1">

          <!-- CUSTOM TEXT BOX -->
          <div class="fontholder_div">
            <div class="fontControls">
              <fieldset>
                <label for="cardMessageFontSize"><i class="material-icons">format_size</i></label>
                <input form='main-form' id='cardMessageFontSize' name="cardMessageFontSize" style="width:2.6em; height: 1.3em" type="number" value='14'/>

                <select form='main-form' id='cardMessageFont' name="cardMessageFont">
                  <option value="Arial" selected>Arial</option> 
                  <option value="Eczar">Eczar</option>
                  <option value="Princess Sofia">Princess Sofia</option>
                  <option value="Mountains of Christmas">Mountains of Christmas</option>
                  <option value="Butterfly Kids">Butterfly Kids</option>
                  <option value="Bubblegum Sans">Bubblegum Sans</option>
                  <option value="Emilys Candy">Emilys Candy</option>
                  <option value="Give You Glory">Give You Glory</option>
                  <option value="Mystery Quest">Mystery Quest</option>
                  <option value="Covered By Your Grace">Covered By Your Grace</option>
                  <option value="Chela One Regular">Chela One Regular</option>
                  <option value="Bonbon">Bonbon</option>
                  <option value="Raleway">Raleway</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Raleway">Raleway</option>
                  <option value="Titillium Web">Titillium Web</option>
                  <option value="Pacifico">Pacifico</option>
                  <option value="Josefin">Josefin</option>
                  <option value="Orbitron">Orbitron</option>
                  <option value="Comfortaa">Comfortaa</option>
                  <option value="Courgette">Courgette</option>
                  <option value="Ubuntu">Ubuntu</option>
                  <option value="Chewy">Chewy</option>
                  <option value="Lobster Two">Lobster Two</option>
                  <option value="Kaushan Script">Kaushan Script</option>
                  <option value="Economica">Economica</option>
                  <option value="Satisfy">Satisfy</option>
                  <option value="Inter">Inter</option>
                  <option value="Work Sans">Work Sans</option>
                  <option value="Space Mono">Space Mono</option>
                  <option value="Space Grotesk">Space Grotesk</option>
                  <option value="Rubik">Rubik</option>
                  <option value="Libre Franklin">Libre Franklin</option>
                  <option value="Cormorant">Cormorant</option>
                  <option value="Fira Sans">Fira Sans</option>
                  <option value="Chivo">Chivo</option>
                </select>

                <span class="color-picker">
                  <label for="cardMessageFontColor"><i class="material-icons">format_color_text</i></label>
                  <input form='main-form' type="color" name="cardMessageFontColor" id="cardMessageColorPicker">
                </span>

                <span class="font-styles">
                  <i id="backCard-bold-btn" class="material-icons">format_bold</i>
                  <i id="backCard-italic-btn" class="material-icons">format_italic</i>
                  <input form='main-form' id="cardMessageFontStyle" name="cardMessageFontStyle" value="normal" hidden />
                  <input form='main-form' id="cardMessageFontWeight" name="cardMessageFontWeight" value="normal" hidden />
                </span>

              </fieldset>
            </div>

            <div class="cardMessageArea">
              <textarea form='main-form' id="cardMessage" name='cardMessage' rows="5" oninput="updateText()" placeholder="Type your message here." style="width: 90%" ></textarea>
            </div>
          </div>
          <!-- CUSTOM TEXT BOX END -->

        </div>
      </div>

      <!-- STEP THREE -->
      <div id="step3" class="step-content-body out">
        <div class="header">Step 3: Add Sender & Recipient Details</div><hr/>
        
        <!-- SENDER DETAILS -->
        <div class="w3-half pattern0">
          <div class="sub-header">Sender Details</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="senderFirstName">First Name</label>
              <input form='main-form' type="text" class="form-control" name="senderFirstName" id="senderFirstName" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="senderLastName">Last Name</label>
              <input form='main-form' type="text" class="form-control" name="senderLastName" id="senderLastName" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="senderAddress">Address</label>
            <input form='main-form' type="text" class="form-control" name="senderAddress" id="senderAddress" placeholder="1234 Main St" required>
          </div>
          <div class="form-group">
            <label for="senderAddress2">Address 2</label>
            <input form='main-form' type="text" class="form-control" id="senderAddress2" name="senderAddress2" placeholder="Apartment, studio, or floor" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="senderCity">City</label>
              <input form='main-form' type="text" class="form-control" id="senderCity" name="senderCity"  placeholder="e.g., Austin" required>
            </div>
            <div class="form-group col-md-3">
              <label for="senderState">State</label>
              <input form='main-form' type="text" id="senderState" name="senderState" maxlength="2" class="form-control" placeholder="e.g., TX" required>
            </div>
            <div class="form-group col-md-3">
              <label for="senderZip">Zip</label>
              <input form='main-form' type="text" class="form-control" maxlength="5" id="senderZip" name="senderZip" required>
            </div>
          </div>          
        </div>
        <!-- SENDER DETAILS END -->
        
        <!-- RECIEVER DETAILS -->  
        <div class="w3-half pattern1">
          <div class="sub-header">Reciever Details</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="recieverFirstName">First Name</label>
              <input form='main-form' type="text" class="form-control" id="recieverFirstName" name="recieverFirstName" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="recieverLastName">Last Name</label>
              <input form='main-form' type="text" class="form-control" id="recieverLastName" name="recieverLastName" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="recieverAddress">Address</label>
            <input form='main-form' type="text" class="form-control" id="recieverAddress" name="recieverAddress" placeholder="1234 Main St" required>
          </div>
          <div class="form-group">
            <label for="recieverAddress2">Address 2</label>
            <input form='main-form' type="text" class="form-control" id="recieverAddress2" name="recieverAddress2" placeholder="Apartment, studio, or floor" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="recieverCity">City</label>
              <input form='main-form' type="text" class="form-control" id="recieverCity" placeholder="e.g., Brooklyn" name="recieverCity" required>
            </div>
            <div class="form-group col-md-3">
              <label for="recieverState">State</label>
              <input form='main-form' type="text" id="recieverState" name="recieverState" class="form-control" placeholder="e.g., NY"  required>
            </div>
            <div class="form-group col-md-3">
              <label for="recieverZip">Zip</label>
              <input form='main-form' type="text" class="form-control" id="recieverZip" maxlength="5" name="recieverZip" required>
            </div>
          </div>          
        </div>
        <!-- SENDER DETAILS END -->

      </div>
      <!-- STEP THREE ENDS -->

      <div class="step-content-foot">
        <button type="button" class="active" name="prev">Prev</button>
        <button type="button" class="active" name="next">Next</button>
        <button form='main-form' type="submit" onsubmit="packageInfo()" class="active out" name="finish">Proceed to Payment</button>
      </div>
    </div>
    <!-- STEP ENDS -->

    </form>

  </div>
</div>

<script>
var canvas_front;
var canvas_back;
var mousePress;

var textProp = {
  'font': 'Arial',
  'fontSize': 14,
  'fontColor': 'black',
  'fontStyle': 'normal',
  'fontWeight': 'normal'
};

$("#frontCardFontSize").change(function() {
  $("#frontCardMessage").css("font-size", $(this).val() + "pt");
});

$("#colorPicker").change(function() {
  $("#frontCardMessage").css("color", $(this).val());
});

$("#frontCard-bold-btn").click(function() {
  if (!$(this).hasClass('selected')) {
    $(this).addClass('selected');
    $("#frontCardMessage").css("font-weight", 'bold');
  } else {
    $(this).removeClass('selected');
    $("#frontCardMessage").css("font-weight", 'normal');
  }
});

$("#frontCard-italic-btn").click(function() {
  if (!$(this).hasClass('selected')) {
    $(this).addClass('selected');
    $("#frontCardMessage").css("font-style", 'italic');
  } else {
    $(this).removeClass('selected');
    $("#frontCardMessage").css("font-style", 'normal');
  }
});

$("#backCard-bold-btn").click(function() {
  if (!$(this).hasClass('selected')) {
    $(this).addClass('selected');
    $("#cardMessage").css("font-weight", 'bold');
    textProp.fontWeight = 'bold';
    $("#cardMessageFontWeight").val('400');
  } else {
    $(this).removeClass('selected');
    $("#cardMessage").css("font-weight", 'normal');
    textProp.fontWeight = 'normal';
    $("#cardMessageFontWeight").val('200');
  }
  updateText();
});

$("#backCard-italic-btn").click(function() {
  if (!$(this).hasClass('selected')) {
    $(this).addClass('selected');
    $("#cardMessage").css("font-style", 'italic');
    textProp.fontStyle = 'italic';
    $("#cardMessageFontStyle").val('italic');
  } else {
    $(this).removeClass('selected');
    $("#cardMessage").css("font-style", 'normal');
    textProp.fontStyle = 'normal';
    $("#cardMessageFontStyle").val('normal');
  }
  updateText();
});

$("#frontCardFont").change(function() {
  $("#frontCardMessage").css("font-family", $(this).val());
});

$('#cardMessageFontSize').change(function() {
  $("#cardMessage").css("font-size", $(this).val() + "pt");
  textProp.fontSize = parseInt($('#cardMessageFontSize').val());
  updateText();
});

$('#cardMessageFont').change(function() {
  $("#cardMessage").css("font-family", $(this).val());
  textProp.font = $(this).val();
  updateText();
});

$("#cardMessageColorPicker").change(function() {
  $("#cardMessage").css("color", $(this).val());
  textProp.fontColor = $(this).val();
  updateText();
});

function rotateImage() {
  canvas_front.rotateImage();
}

$(document).ready(async function() {
  let offset = {'x': 77, 'y': 43, 'w': 210, 'h': 298};
  canvas_front = new CanvasUtils(
    document.getElementById('front_page'));
  canvas_front.setBackgroundImage('/images/cards/templates/card-layout.png', offset);

  canvas_back = new CanvasUtils(
    document.getElementById('back_page'));
  canvas_back.setBackgroundImage('/images/cards/templates/card-layout.png', offset);

  canvas_front.canvas.onmousedown = function (e) {
    mousePress = true;
    let idx = canvas_front.selectData(e.clientX, e.clientY);
    canvas_front.sel_data = idx;
    canvas_front.updateCanvas();
    canvas_front.canvas.onmousemove = function(e) {
      if (mousePress) {
        if (idx != -1) {
          canvas_front.moveData(idx, e.clientX, e.clientY);
          canvas_front.updateCanvas();
          canvas_front.writeCords(e.clientX, e.clientY);
        }
      }
    };
  }

  canvas_front.canvas.onmouseup = function(e) {
    mousePress = false;
  }

  handleSteps();

  <% if (typeof designParams != "undefined") { %>
    var designParams = <%- JSON.stringify(designParams) %>
    for (let i = 0; i < designParams.length; i++) {
      await canvas_front.drawImageWithData(designParams[i].image_id, designParams[i].x, designParams[i].y, designParams[i].w, designParams[i].h, designParams[i].scale, designParams[i].rotation);
    }
  <% } %>

  let navBars = $(".probootstrap-nav li");
  for (let i = 0; i < navBars.length; i++) {
    if (i == 1) {
      $(navBars[i]).addClass("active");
    } else {
      $(navBars[i]).removeClass("active");
    }
  }
});

function updateText() {
  let myText = $("#cardMessage").val();
  canvas_back.drawFixedText(myText, textProp);
}

function updateControls() {
  let sel_index = canvas_front.sel_data;
  if (sel_index != -1) {
    if (canvas_front.data[sel_index].type == 'img') {
      $(".control-panel i").css('cursor', 'pointer');
    } else {
      $(".control-panel i").css('cursor', 'pointer');
      $(".control-panel .fa-rotate-right").css('cursor', 'not-allowed');
      $(".control-panel .fa-rotate-left").css('cursor', 'not-allowed');
    }
  } else {
    $(".control-panel i").css('cursor', 'not-allowed');
  }
}

$('#front_page').on('click', function() {
  updateControls();
});

$('.scrollable_div img').on('click', async function() {
  let img_src = $(this).attr('src');
  await canvas_front.drawImage(img_src, 0.1);
  updateControls();
});

function addText() {
  let message = $("#frontCardMessage").val();
  let fontSize = $("#frontCardFontSize").val();
  let fontFace = $("#frontCardFont").val();
  let fontColor = $("#colorPicker").val();

  let fontStyle = $("#frontCardMessage").css("font-style");
  let fontWeight = $("#frontCardMessage").css("font-weight");
  canvas_front.drawTextDefault(message, fontFace, fontSize, fontColor,
    fontStyle, fontWeight);
  updateControls();
}

$('.color-box').on('click', function() {
  let bg_color = $(this).css("backgroundColor");
  canvas_front.setBackgroundColor(bg_color);
  canvas_back.setBackgroundColor(bg_color);
});

$("#search-box").on('keypress', function(e) {
  if (e.keyCode == 13 && $(this).val().length > 0) {
    const Http = new XMLHttpRequest();
    Http.responseType = 'json';
    const url='/assets?search=' + $(this).val();
    Http.open("GET", url);
    Http.send();
    Http.onreadystatechange= (e) => {
      let assets_html = "";
      let res = Http.response;
      if (typeof res != 'undefined' && res != null && res.length > 0) {
        for (let i = 0; i < res.length; i++) {
          assets_html += '<div class="w3-quarter" style="width:100px">' + 
            `<img src="${res[i].path}">` +
            '</div>';
        }
        $("#assets_holder").html(assets_html);

        $('.scroll-main img').on('click', function() {
          let img_src = $(this).attr('src');
          canvas_front.drawImage(img_src, 0.1);
        });
      }
    }
  }
});


// see https://css-tricks.com/forums/topic/back-button-on-multistep-form/
function handleSteps() {
  // const urlParams = new URLSearchParams(window.location.search);
  // const myParam = urlParams.get('design');

  var step = 0;
  var stepItem = $('.step-progress .step-slider .step-slider-item');
  /*for (let i = 0; i < stepItem.length; i++) {
    if (i != step) {
      $('#' + stepItem[step].dataset.id).addClass('out');
      $('#step' + ( i + 1)).addClass('out');
    }
  }
  
  $('#step' + (step + 1)).removeClass('out');
  $(stepItem[step]).addClass('active');
  $('#' + stepItem[step].dataset.id).removeClass('out');

  if (step == 0) {
    $('.step-content .step-content-foot button[name="prev"]').addClass('out');
  }*/
  
  // Step Next
  $('.step-content .step-content-foot button[name="next"]').on('click', function() {
    if (step == 0) {
      saveImageData(canvas_front.data);
      saveCanvasBackground(canvas_front.backgroundColor);
      // saveCanvasData(canvas_front.canvas.toDataURL());
    } else if (step == 1) {
      saveCanvasMessage(canvas_back.lines);
    }

    var instance = $(this);
    if (stepItem.length - 1 < step) {
      return;
    }
    $('.step-content .step-content-foot button[name="prev"]').removeClass('out');
    if (step == (stepItem.length - 2)) {
      instance.addClass('out');
      instance.siblings('button[name="finish"]').removeClass('out');
    }
    $(stepItem[step]).addClass('active');
    $('.step-content-body').addClass('out');

    step++;
    $('#' + stepItem[step].dataset.id).removeClass('out');
  });

  // Step Last
  $('.step-content .step-content-foot button[name="finish"]').on('click', function() {
    // $(stepItem[stepItem.length - 1]).addClass('active');
    // $('.step-content-body').addClass('out');
    // $('#stepLast').removeClass('out');
    // step++;
  });

  // Step Previous
  $('.step-content .step-content-foot button[name="prev"]').on('click', function() {
    if (step - 1 < 0) {
      return;
    }
    step--;
    var instance = $(this);
    if (step <= (stepItem.length - 1)) {
      instance.siblings('button[name="next"]').removeClass('out');
      instance.siblings('button[name="finish"]').addClass('out');
    }
    $('.step-content-body').addClass('out');
    $('#' + stepItem[step].dataset.id).removeClass('out');
    if (step === 0) {
      stepItem.removeClass('active');
    } else {
      stepItem.filter(':gt(' + (step - 1) + ')').removeClass('active');
    }
    if (step - 1 < 0) {
      $('.step-content .step-content-foot button[name="prev"]').addClass('out');
    }
  });
}

function clearUpload(event) {
  $("#file-image").attr("src", "");
  document.getElementById('file-image').classList.add("hidden");
  document.getElementById('notimage').classList.remove("hidden");
  document.getElementById('start').classList.remove("hidden");
  document.getElementById('response').classList.add("hidden");
  document.getElementById("file-upload-form").reset();
  event.stopPropagation();
}

async function uploadImage(event) {
  let img_src = $("#file-image").attr("src");
  await canvas_front.drawImage(img_src, 0.1);
  updateControls();
  event.stopPropagation();
}


// File Upload
// 
function ekUpload(){
  function Init() {

    var fileSelect    = document.getElementById('file-upload'),
        fileDrag      = document.getElementById('file-drag'),
        submitButton  = document.getElementById('submit-button');

    fileSelect.addEventListener('change', fileSelectHandler, false);

    // Is XHR2 available?
    var xhr = new XMLHttpRequest();
    if (xhr.upload) {
      // File Drop
      fileDrag.addEventListener('dragover', fileDragHover, false);
      fileDrag.addEventListener('dragleave', fileDragHover, false);
      fileDrag.addEventListener('drop', fileSelectHandler, false);
    }
  }

  function fileDragHover(e) {
    var fileDrag = document.getElementById('file-drag');

    e.stopPropagation();
    e.preventDefault();

    fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
  }

  function fileSelectHandler(e) {
    // Fetch FileList object
    var files = e.target.files || e.dataTransfer.files;

    // Cancel event and hover styling
    fileDragHover(e);

    parseFile(files[0]);
    uploadFile(files[0]);
  }

  // Output
  function output(msg) {
    // Response
    var m = document.getElementById('messages');
    m.innerHTML = msg;
  }

  function parseFile(file) {
    output(
      '<strong>' + encodeURI(file.name) + '</strong>'
    );
    
    var imageName = file.name;

    var isGood = (/\.(?=gif|jpg|png|jpeg)/gi).test(imageName);
    if (isGood) {
      document.getElementById('start').classList.add("hidden");
      document.getElementById('response').classList.remove("hidden");
      document.getElementById('notimage').classList.add("hidden");
      // Thumbnail Preview
      document.getElementById('file-image').classList.remove("hidden");
      document.getElementById('file-image').src = "loading.gif";
    }
    else {
      document.getElementById('file-image').classList.add("hidden");
      document.getElementById('notimage').classList.remove("hidden");
      document.getElementById('start').classList.remove("hidden");
      document.getElementById('response').classList.add("hidden");
      document.getElementById("file-upload-form").reset();
    }
  }

  function setProgressMaxValue(e) {
    var pBar = document.getElementById('file-progress');

    if (e.lengthComputable) {
      pBar.max = e.total;
    }
  }

  function updateFileProgress(e) {
    var pBar = document.getElementById('file-progress');

    if (e.lengthComputable) {
      pBar.value = e.loaded;
    }
  }

  function uploadFile(file) {

    var xhr = new XMLHttpRequest(),
      fileInput = document.getElementById('class-roster-file'),
      pBar = document.getElementById('file-progress'),
      fileSizeLimit = 1024; // In MB
    if (xhr.upload) {
      // Check if file is less than x MB
      if (file.size <= fileSizeLimit * 1024 * 1024) {
        // Progress bar
        pBar.style.display = 'inline';
        xhr.upload.addEventListener('loadstart', setProgressMaxValue, false);
        xhr.upload.addEventListener('progress', updateFileProgress, false);

        // File received / failed
        xhr.onreadystatechange = function(e) {
          if (xhr.readyState == 4) {
            // Everything is good!
            if (xhr.status == 200) {
              document.getElementById('file-image').src = "/" + xhr.responseText;
            } else {
              document.getElementById('file-image').src = "/error.png";
              document.getElementById('add-image-to-card').classList.add("hidden");
            }
          }
        };

        // Start upload
        xhr.open('POST', document.getElementById('file-upload-form').action, true);
        const formData = new FormData();
        formData.append('userImage', file);
        xhr.send(formData);
      } else {
        output('Please upload a smaller file (< ' + fileSizeLimit + ' MB).');
      }
    }
  }

  // Check for the various File API support.
  if (window.File && window.FileList && window.FileReader) {
    Init();
  } else {
    document.getElementById('file-drag').style.display = 'none';
  }
}
ekUpload();

</script>

<%- include('footer') -%>