.vl {
  border-left: 2px solid grey;
  height: 500px;
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -3px;
  top: 0;
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Karma", sans-serif
}

.w3-bar-block .w3-bar-item {
  padding:20px
}

.color-box {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.logo-title {
  text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card {
  position: relative;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.step-progress {
  padding: 16px;
  background-color: #FAFAFA;
  margin: 0 auto;
}

.step-progress .step-slider {
  width: 100%;
}

.step-progress .step-slider .step-slider-item {
  width: 33%;
  height: 1px;
  position: relative;
  float: left;
  background-color: #E0E0E0;
}

.step-progress .step-slider .step-slider-item:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  right: 0;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease-out 0.5s;
  -webkit-transition: all 0.3s ease-out 0.5s;
}

.step-progress .step-slider .step-slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #B0BEC5;
  z-index: 1;
  -webkit-transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item.active:before {
  width: 100%;
  background-color: #FF8F00;
}

.step-progress .step-slider .step-slider-item.active:after {
  border-color: #FF8F00;
}

.step-content {
  padding: 16px 0;
}

.step-content .step-content-foot {
  text-align: right;
}

button {
  border: 0;
  padding: 8px 16px;
  background-color: #CFD8DC;
  font-size: 14px;
  border-radius: 3px;
  outline: 0;
}

button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

button.out {
  display: none;
}

button.disable {
  background-color: #ECEFF1;
}

.step-content {
  overflow: auto;
}

.step-content .step-content-body {
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
}

.step-content .step-content-body.out {
  display: none;
}

.step-content-foot button.active {
  background-color: #00ACC1;
  color: white;
}

.fontholder_div {
  margin: 0px;
  padding: 5px;
  margin-right: 0;
  width: 350px;
  display: inline-block;
}

.fontControls {
  margin-top: 5px;
  margin-bottom: 20px;
}

.scrollable_div {
  margin: 0px auto;
  height: 200px;
  width: 90%;
  display: inline-block;
  overflow-x: hidden;
  border: 1px solid grey;
}

#assets_holder {
  margin:0px;
  padding:0px;
  height:auto;
  width:400px;
  display:block;
  overflow:hidden;
  font-size: small;
}

.scrollable_div::-webkit-scrollbar {
    width: 16px;
}
.scrollable_div::-webkit-scrollbar-track {
    background: #cccccc; 
    XXborder-radius: 5px;
}
.scrollable_div::-webkit-scrollbar-thumb {
    XXborder-radius: 5px;
    background: gray;
}

/* perfect scrollbar - always visible: */
.ps-container,
.ps-scrollbar-x-rail, .ps-scrollbar-x,
.ps-scrollbar-y-rail, .ps-scrollbar-y {
  opacity: 1 !important;
}

/* stylying jScrollPane: */
.jspTrack,.jspDrag {
  border-radius: 8px;
}
.jspVerticalBar {
  background: none;
}

.scroll-main img {
  padding: 2px;
  margin: 2px;
}

.scroll-main img:hover {
  border: 1px solid grey;
  padding: 2px;
  margin: 2px;
}

[type='color'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}

.color-picker {
  margin: 1px;
  padding: 1px;
}

.fontcontrols fieldset {
  margin: 0px auto 0px;
  border: none;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px auto;
}

.cardMessageArea {
  height: 250px;
}

.pattern0 {
  padding: 20px; 
  background: #e5e5e5;
  border-radius: 20px 0px 20px 20px;
}

.pattern1 {
  padding: 20px; 
  margin-bottom: 10px;
  background: #f5f5f5;
  border-radius: 0px 20px 20px 20px;
}

.font-styles {
  padding-top: 2px;
  font-size: 16pt;
}

.font-styles i.selected {
  color: #000;
}

